body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* เปลี่ยนจาก center เป็น flex-start เพื่อให้สามารถเลื่อนได้ */
    
    background: linear-gradient(135deg, #1e3c72, rgb(24, 83, 29));
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow-y: auto; /* เพิ่มเพื่อให้สามารถเลื่อนได้ */
}
h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
button {
    margin: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: #999ca0;
}
/* กรอบ container */
.container {
    background: rgba(255, 255, 255, 0.856);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(45, 148, 245, 0.103);
    text-align: left;
    width: 700px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

img{max-width: 100%;}